<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kiyell.game.reactionvs.android"
    android:versionCode="2"
    android:versionName="1.1" > <!--updated, removed ads -->

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="20" />

    <!-- removed permissions that were needed for ads
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/GdxTheme" >
        <activity
            android:name="com.kiyell.game.reactionvs.android.AndroidLauncher"
            android:label="@string/app_name" 
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

<!-- removed xml info for airpush
<meta-data android:name="com.mwfvdhbw.axqnjxec214139.APPID" android:value="255134" />
<meta-data android:name="com.mwfvdhbw.axqnjxec214139.APIKEY" android:value="android*1418843284214139417"/>
<activity android:exported="false" android:name="com.mwfvdhbw.axqnjxec214139.MainActivity" android:configChanges="orientation|screenSize" android:theme="@android:style/Theme.Translucent" />
<activity android:name="com.mwfvdhbw.axqnjxec214139.BrowserActivity" android:configChanges="orientation|screenSize" />
<activity android:name="com.mwfvdhbw.axqnjxec214139.VDActivity"
            android:configChanges="orientation|screenSize" android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
</activity>
        -->
    </application>

</manifest>
